/* Background color for the entire page - each section can be changed on it's own if needed */
body {
    background-color: azure;
}

/* Class selector layout for header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053349;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #05b923 0%, #009cc4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

/* ID selector for my Funko avatar */
#avatar {
    height: 100px;
    width: 25%;
    background-image: url("../images/avatar.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

/* Animation when hovering over my avatar */
#avatar:hover {
    transform: scale(1.5);
    transition: transform .5s ease;
}

/* Tag selector for the nav bar */
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Hover effect for each of the nav bar items
   Credits to this site: https://css-tricks.com/css-link-hover-effects/ */
nav ul a {
    font-size: 15px;
    color: white;
    margin: 7.5px;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}
  
nav ul a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.5s ease-in-out;
}
  
nav ul a:hover {
    background-position: 0;
}
  
nav ul a:hover::before {
    width:100%;
}

/* ID selector for banner picture for the website */
#banner {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/banner.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Subtitle for the banner */
#banner h1 {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Tag selector to page-wrap the main content of the webpage */
main {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

/* Class selector for each section of the webpage */
.section-content {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

/* Label for each section */
.section-content h2 {
    font-size: 30px;
    border-right: 3px solid darkblue;
    padding-right: 10px;
    text-align: right;
    flex: 0 0 15%;
}

/* Used to separate the content from the label */
.section-content div {
    flex: 0 0 80%;
}

/* Font size for the text in the About Me section */
.section-content p {
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}

/* Class selector for putting all the projects into a flex container */
.section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Class selector for defining each project into their own separate flex container */
.project-flex {
    border: solid 3px navy;
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    margin: 5px 10px 5px 20px;
    padding: 0 0 20px 0;
    max-height: 150px;
    min-height: 150px;
    background-size: 150%;
    font-size: 30px;
    color: grey;
    flex-basis: calc(50% - 30px);
    position: relative;
}

/* Making the first project bigger than the others */
.project-flex:first-child {
    min-height: 350px;
    flex-basis: 100%;
}

/* Animation when hovering over each project */
.project-flex:hover {
    filter: brightness(125%);
    transform: scale(1.025);
    transition: transform .5s ease;
    background-color: peachpuff;
}

/* Name for each project adjusted to the top-left corner of the box */
.project-flex h3 {
    font-size: 15px;
    color: black;
    background-color: #2a607c;
    padding: 5px;
    position: absolute;
    top: 0;
}

/* Technologies used in each project adjusted to the bottom-right corner of the box */
.project-flex span {
    font-size: 12px;
    color: white;
    background-color: #08043f;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* The following are just ID selectors for each project to display the image within the box */
#horiseon {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

#prework {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../images/prework-study-guide.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#backend {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../images/spring-boot.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#frontend {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../images/angular.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#feast {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../images/java.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

/* Class selector for defining the space between each contact option */
.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.contact ul a {
    display: inline-block;
    padding: 5px;
}

/* Animation when hovering over each contact option */
.contact ul a:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

/* The following are just ID selectors for each icon representing the contact options */
#phone {
    height: 75px;
    width: 75px;
    background-image: url("../images/phone.png");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

#email {
    height: 75px;
    width: 75px;
    background-image: url("../images/email.svg");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

#github {
    height: 75px;
    width: 75px;
    background-image: url("../images/github.png");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

#linkedin {
    height: 75px;
    width: 75px;
    background-image: url("../images/linkedin.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

#discord {
    height: 75px;
    width: 75px;
    background-image: url("../images/discord.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

#youtube {
    height: 75px;
    width: 75px;
    background-image: url("../images/youtube.png");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

/* Class selector layout for footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #053349;
    color: #ffffff;
}

/* Media query for defining layout when resizing for devices with a display of 992 pixels and smaller */
@media screen and (max-width: 992px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px;
    }

    .section-content {
        margin: 5px 0;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }

    .section-content div {
        padding: 10px;
    }

    .section-content h2 {
        font-size: 30px;
        border-bottom: 3px solid darkblue;
        border-right: none;
        padding-bottom: 10px;
        text-align: center;
        flex: 0 0 15%;
    }

    .project-flex {
        flex: 1 1 50%;
    }
}

/* Media query for defining layout when resizing for devices with a display of 768 pixels and smaller */
@media screen and (max-width: 768px) {
    .contact ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin: 0;
        padding: 0;
    }

    .contact ul a {
        margin: 5px;
    }
}
